#live-chart-temperature-humidity__container,
#live-chart-temperature__container,
#live-chart-humidity__container,
#live-chart-heat-index__container,
#live-chart-temperature-heat-index__container,
#live-chart-heat-index-humidity__container {
  position: relative;
  margin: auto;
  height: 92vh;
  width: 80vw;
  border-radius: 0;
}

.hide {
  display: none;
}
