.sensor-data-container > p {
  text-align: center;
}

.sensor-data {
  margin-top: 1rem !important;
  text-align: right;
}

#live-tile > article {
  border-radius: 0;
  padding-left: 10px;
  padding-right: 0;
  margin-bottom: 0 !important;
}
