<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="View the local weather in Quebec City">
    <meta property="og:title" content="MacWeather">
    <meta property="og:image" content="https://developer.cdn.mozilla.net/static/img/opengraph-logo.dc4e08e2f6af.png">
    <meta property="og:description" content="View the local weather in Quebec City">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
    {% if title %}<title>{{ title }} - MacWeather</title>{% else %}<title>MacWeather</title>{% endif %}
    {% assets 'main_css' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
  </head>
  <body>
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <select id="temperature-unit">
              <option value="celsius" selected="selected">Celsius</option>
              <option value="fahrenheit">Fahrenheit</option>
            </select>
          </div>
          <div class="navbar-item">
            <select id="live-chart-select">
              <option value="temperature" selected="selected">Temperature</option>
              <option value="humidity">Humidity</option>
              <option value="heat-index">Heat Index</option>
              <option value="temperature-heat-index">Temperature + Heat Index</option>
              <option value="temperature-humidity">Temperature + Humidity</option>
              <option value="heat-index-humidity">Heat Index + Humidity</option>
            </select>
          </div>
          <div class="navbar-item">
            <a id="live-zoom-button" class="button">Zoom</a>
          </div>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" href="{{ url_for('main.index') }}">Live</a>
          <a class="navbar-item" href="{{ url_for('main.index') }}">History</a>
          <a class="navbar-item" href="{{ url_for('main.index') }}">Predictions</a>
        </div>
      </div>
    </nav>
    <main>
      {% block page_content %}{% endblock %}
    </main>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
  {% assets 'main_js' %}<script defer src="{{ ASSET_URL }}"></script>{% endassets %}
  <script>
    const burgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    burgers.forEach(el => {
      el.addEventListener('click', () => {
        const target = document.getElementById(el.dataset.target);
        el.classList.toggle('is-active');
        target.classList.toggle('is-active');
      });
    });
  </script>
</html>
